body:hover .prizeTrackerToggle {
    opacity: 100%;
}

body:hover .deckViewerToggle {
    opacity: 100%;
}

.prizeBar {
    padding-left: 1em;
    padding-right: 1em;
    height: 0; 
    width: 50%; 
    position: fixed; 
    z-index: 1;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s; 
    background: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
    }

.deckViewBar {
    height: 0; 
    width: 100%; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s; 
    background: rgba(0, 0, 0, 0.4);
    }


.prizeTrackerToggle {
    position: absolute;
    top: 70%;
    left: 8%;
    transition: 0.5s; 
    opacity: 0%;
}

.prizeTrackerToggle:hover 
{    
    animation: bounce2 2s ease infinite;
}

.deckViewerToggle:hover 
{    
    animation: bounce2 2s ease infinite;
}

  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

.deckViewerToggle {
    position: absolute;
    top: 70%;
    left: 80%;
    transition: 0.5s; 
    opacity: 0%;
}

.prizeBar img {
    max-height: 100%;
    max-width: 100%;
}

.deckViewBar img {
	max-width: 100%;
}

.deckViewBar div {
	max-width: 100%;
}

.prizeCard 
{
    padding-left: 5px;
    border: none;
}

.deckCard
{
    border: none;
}

#decklistTable{
    align-content: flex-start;
    padding-left: 5px;
    padding-bottom: 39px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

#decklistTable div {
    position: relative;
    width: 13%;
    height: 18%;
    margin: 1px;
}

#decklistTable div>span {
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:10;
    padding:10px 15px;
    border-radius:50%;
    background:#283C7E;
    border-color: #CD8F00;
    border-style: solid;
    color:white;
    font-size:1.5em;
    pointer-events:none;   
  }

.toggleImages
{
    height: 50px;
    width: 50px;
}

.exportButton 
{    
    text-align: center;
    background-color: #283C7E;
    color: white;
    border-color: #CD8F00;
    border-radius: 5px;
    border-style: solid;
    padding: 10%;
}


.exportButton:hover
{
    background-color: #4060ca;
}

#showDeck
{
    float: right;
    text-align: center;
    background-color: #283C7E;
    color: white;
    border-color: #CD8F00;
    border-radius: 5px;
    border-style: solid;
    padding: 1%;
}

#showDeck:hover
{
    background-color: #4060ca;
}

#decklistText
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#decklistTextArea
{
    height: 75%;
}

#closeDecklist 
{
    float: right;
    text-align: center;
    font-weight: bolder;
    background-color: #283C7E;
    color: white;
    border-color: #CD8F00;
    border-radius: 5px;
    border-style: solid;
    padding: 1%;
    margin-right: 5em;
}

#closeDecklist:hover
{
    background-color: #4060ca;
}

#closePrizes 
{
    float: right;
    text-align: center;
    font-weight: bolder;
    background-color: #283C7E;
    color: white;
    border-color: #CD8F00;
    border-radius: 5px;
    border-style: solid;
    padding: 1%;
    margin-left: 2em;
    margin-right: 5em;
}

#closePrizes:hover
{
    background-color: #4060ca;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }